@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap");

body,
html {
  height: 100%;
  margin: 0;
  font-family: "Familjen Grotesk", sans-serif;
  color: #100f3f;
}
a {
  text-decoration: none;
}
body::-webkit-scrollbar {
  width: 0;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.navbar-custom {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.navbar-collapse {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav-link {
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 13px;
}
.nav-link_2 {
  text-decoration: none;
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 16px;
  font-style: normal;
}
#nav2 {
  border: 1px white;
  border-style: solid none;
}

.nav-btn {
  font-family: "Familjen Grotesk", sans-serif;
  margin-top: 6px;
  width: 77px;
  height: 25px;
  border-radius: 29px;
  color: #0f0e3e;
  font-size: 13px;
  font-style: normal;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}

#underline {
  height: 2px;
  background-color: white;
  width: 90%;
  margin-left: 7px;
  margin-top: -5px;
}
.home {
  color: white;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url(./images/home-bg.png);
  height: 847px;
  width: 100%;
  z-index: -1;
}

.bg-svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 847px;
  width: 100%;
  z-index: 0;
}

.content-section {
  position: relative;
  z-index: 1;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.content-section img {
  width: 135.475px;
  height: 36.277px;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.content-section .heading {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: "Familjen Grotesk";
  font-size: 82px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.content-section .sub-heading {
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: "Familjen Grotesk";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.custom-button {
  display: flex;
  width: 162px;
  height: 45px;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 64px;
  border: 0.5px solid #fff;
  background: rgba(255, 255, 255, 0);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
  margin-bottom: 3rem;
  margin-top: 20px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 30px 0;
  z-index: 2;
  position: relative;
}

.row-cols-4 {
  justify-content: space-between;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 3;
  position: relative;
}

.image-gallery {
  margin: 50px 0;
}
.gallery-item {
  margin-bottom: 20px;
  /* margin-left: 10px; */
}
.image-gallery-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 110%; */
}

.gallery-item .image {
  width: 224.679px;
  height: 344.592px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery-item .image-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gallery-item .image-info p {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}

.gallery-item .small-image {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

section .common-heading {
  color: #100f3f;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
section p {
  color: #100f3f;
  font-family: "Familjen Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-box {
  width: 261px;
  height: 334px;
  border-radius: 14px;
  background: #f7f9ff;
  box-shadow: 0px 4px 14.9px 0px rgba(0, 0, 0, 0.13);
}

.icon-span {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 14.9px 0px rgba(0, 0, 0, 0.13);
  border-radius: 50%;
}

.Why-Realezi_h5 {
  color: #100f3f;
  font-size: 20px;
  font-weight: bolder;
  line-height: 25px;
  letter-spacing: 0.48px;
  text-transform: capitalize;
}

.Why-Realezi_p {
  color: #000;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.26px;
  text-transform: capitalize;
}

.brands-section {
  margin-top: 10%;
  margin-bottom: 16%;
}

.brands-section h1 {
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.brands-section p {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.img-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.img-section div {
  flex: 1;
  text-align: center;
}

.img-section img {
  height: auto;
}

.wayWeWork {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-right: 4rem;
  margin-bottom: 6rem;
}

.left-column {
  flex: 1;
  display: flex;
  justify-content: center;
}

.right-column {
  flex: 1;
  text-align: center;
}

.steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  margin-top: 3.5rem;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  position: relative;
  width: 10rem;
}

.step:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -40px;
  top: 18px;
  width: 80px;
  height: 2px;
  background-color: #100f3f;
}

.step-circle {
  width: 36px;
  height: 36px;
}

.step-number {
  position: absolute;
  top: 0;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 4rem;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

.step-text {
  margin-top: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.final-text {
  margin-top: 40px;
}

.final-subtext {
  margin-top: 10px;
  font-size: 16px;
}

.referral_btn {
  border-radius: 60px;
  background: #0f0e3e;
  border: none;
  width: 227px;
  height: 55px;

  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.consult-section {
  background: #100f3f;
  color: white;
  width: 100%;
}

.consult_btn {
  border-radius: 60px;
  background: #fff;
  width: 227px;
  height: 55px;
  border: none;
  color: #0f0e3e;
  font-family: "Familjen Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.bg-dark-blue {
  background: #100f3f;
  height: 554px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.consult-section {
  display: flex;
  justify-content: center;
  text-align: left;
}

.consult-section h1 {
  color: #fff;
  font-family: "Familjen Grotesk";
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
}
.footer-social img {
  margin: 0 10px;
  max-width: 30px;
}
